<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tvOS-Carthage-Nimble.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tvOS-Carthage-Quick.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F118D4F1BDCAE5C005013A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6A2E7C1BDC9C3A009637BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6A2E8D1BDC9C3A009637BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6A2E981BDC9C3A009637BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6A2EB71BDC9D55009637BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6A2EC41BDC9D5B009637BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
